/SOL/practica2-3/nbproject/private/
/SOL/practica2-3/build/
/SOL/JavaApplication4/nbproject/private/
/SOL/JavaApplication4/build/
/SOL/practica2-3/dist/
/SOL/Pruebas/nbproject/private/
SOL/Pruebas/src/pruebas/Persona.java
